body {
    background-image:url(../img/music-for-presentation.jpg);
    background-size: cover;
    color: #C9C7C9;
    margin: 0;
}
header{
    /*background: rgba(0, 0, 0, 0.5);*/
    height: 46px;
    margin-top: -28px;
}
#song_audio {
	border: 1px solid black;
	margin: 30px;
	padding: 10px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
    background-color: #3E0030;
}

#current_song_list {
	list-style-type: none;
}

#current_song_list {
	list-style-type: none;
}

#song_info{
    border: 1px solid black;
	width: 500px;
	background-color: #5D0F4C;
}
#playlist{
    border: 1px solid black;
	margin: 30px;
	padding: 10px;
	width: 600px;
    height: auto;
	margin-left: auto;
	margin-right: auto;
    background-color: #3E0030;
}

h1 {
    margin-left: 21px;
    font-size: 40px;
}
button {
    float: right;
}

#old_songs_title li{
    cursor: pointer;
    list-style: none;
}