body {
    background-image:url(../img/music-for-presentation.jpg);
    background-size: cover;
    color: #C9C7C9;
    margin: 0;
}
header{
    height: 46px;
    margin-top: -28px;
}

h1 {
    margin-left: 21px;
    font-size: 40px;
}

#song_audio {
	border: 1px solid black;
	margin: 30px;
	padding: 10px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
    background-color: #3E0030;
}

#current_song_list {
	list-style-type: none;
}

#current_song_list {
	list-style-type: none;
}

#sr_picture > img{
	height: 250px;
	width: 300px;
	margin-left: 20%;
}

#radio_player_container {
	margin-left: 20%;
}

#song_info{
    border: 1px solid black;
	width: 500px;
	background-color: #5D0F4C;
}
#playlist{
    border: 1px solid black;
	margin: 30px;
	padding: 10px;
	width: 600px;
    height: auto;
	margin-left: auto;
	margin-right: auto;
    background-color: #3E0030;
}

#previous_songs_title > li{
    cursor: pointer;
    list-style: none;
    border: 1px solid #555;
    padding: 10px;
}

.hidden {
    display: block;
    padding: 10px;
}